:root{
  --white-color : #fff;
  --green-color : #b8c7d3;
  --text-color : #1E90FF;
  --primary-color: #ee4d2d;
  --border-color : #dbdbdb;
}
/*	1. CSS Reset
================================================================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*	2. Global
================================================================================ */
body{
  padding: 50px;
  background-color: #222;
  font: 14px Arial;
  color: #ccc;
}
#main-fix{
  max-width: 1500px;
  margin: 1%;
}

ul {
  list-style-type: none;
}

/*	3. Skills
================================================================================ */
#skills {
  width: 80%;
  max-width: 960px;
  margin-left: 5%;
}
#skills p{
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: bold; */
  color: var(--boder-color);
  padding-bottom: 10px;
}


#skills li {
  position: relative;
  margin-bottom: 32px;
  padding-left: 6px;
}
#skills li .bar-container,
#skills li .bar {
  position: absolute;
  left: 0;
  height: 9px;
  border-radius: 5px;
  content: "";
}
#skills li .bar-container {
  bottom: -8px;
  width: 100%;
  background-color: #333;
  text-align: right;
}
#skills li .bar-container .bar {
  top: 0;
}
#skills li .bar-container .pct {
  position: absolute;
  top: -19px;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.member-skill{
  display: flex;
  padding-right: 5%;
}
.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 80px;
  border-top: 2px solid floralwhite ;
}
.header-logo, .website-heading p{
  font-size: 40px;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin-top: -50px;
  color: var(--green-color);
  height: 80px;
  border-right: 2px solid floralwhite;
}
.website-heading p{
  margin-top: -50px;
  width: 390px;
  position: absolute;
  
}
.header-link_ul{
  display: flex;
  font-size: 20px;
  margin-top: -42px;

}
.header-link_ul li a{
  color: var(--green-color);
  padding: 5px;
  text-decoration: none;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  text-align: center;
  display: block;
  min-width: 50px;
}
.header-link_a:hover{
  border: 2px solid var(--text-color);
}
.header-link_a{
  margin-right: 15px;
  display: block;
  /* border: 2px solid var(--primary-color); */

}
/*  thông tin thành viên */
.info-members{
  width: 90%;
  height: 430px;
  margin-left: 5%;
  /* border: 1px solid red; */
}
.img-tu img, .img-vu img{
  width: 300px;
  height: 300px;
  border: 3px solid var(--white-color);
  border-radius: 50%;
}
.img-member{
  display: flex;
  justify-content: space-around;
}
.img-tu a, .img-vu a{
  font-size: 30px;
  color: var(--green-color);
  text-decoration: none;
  line-height: 70px;
}
.img-tu p, .img-vu p{
  position: absolute;
  color: var(--green-color);
  margin-left: -30px;
  margin-top: -10px;
  text-align: center;
  font-style: italic;
}
.img-tu img:hover, .img-vu img:hover{
  border: 3px solid var(--green-color);
}
.website-border{
  border-bottom: 2px solid floralwhite;
  margin-top: 100px;
}

/* Giới thiệu trang web */
.first-word{
  width: 100%;
  height: 900px;
}
.first-word_form{
  width: 49%;
  height: 800px;
  color: var(--green-color);
  float: left;

}
.first-word_img{
  width: 49%;
  height: 700px;
  float: left;
}
.first-word_img .img-left{
  width: 100%;
  height: auto;
  margin-top: 120px;
  margin-left: 30px;
  box-shadow: 0 0 10px 1px var(--green-color);
}
.first-word_img .img-iuh{
  width: 90%;
  height: auto;
  margin-top: 140px;
  max-height: 600px;

}
.first-word_heading{
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-top: 100px;
  color: var(--green-color);
}
.first-word_text{
  font-size: 18px;
  text-align: center;
  margin-left: 0px;
  font-style: italic;
  line-height: 30px;
}
.text-color-fix{
  color: var(--green-color);
  margin-left: 30px;
}
.first-word_form .img-right{
  width: 46%;
  height: auto;
  box-shadow: 0 0 10px 1px var(--green-color);
  margin-top: 200px;
  margin-left: 20px;
}
.img-iuh-fix{
  width: 50%;
}
.img-center-left{
  margin-left: -9%;
  margin-top: -50px;
}
.first-word-edit{
  margin-top: -300px;
  position: absolute;
}
/* Khoảng trống */
.first-word-space{
  height: 500px;
}
#file-report{
  height: 350px;
}
.report-heading{
  font-size: 40px;
  font-weight: bolder;
  margin-top: 0px;
  width: 320px;
  line-height: 100px;
  color: var(--green-color);
  border-right: 2px solid floralwhite;
}
.website-border{
  margin-top: 90px;
}
.website-border2{
  position: absolute;
  border-bottom: 2px solid floralwhite;
  width: 95%;
  margin-top: -30px;
}
.btn-file{
  font-size: 40px;
  border: 2px solid var(--primary-color);
  max-width: 400px;
  margin: auto;
  margin-top: 90px;
  text-align: center;
}
.btn-file p a{
  text-decoration: none;
  color: #fff;
}
.btn-file:hover{
  border: 2px solid var(--text-color);
}
.copyright-border{
  width: 150px;
}
.footer{
  display: flex;
  margin-left: 20%;
}
.footer a{
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding-left: 30px;
  color: var(--text-color);
}
.copyright> p{
  font-size: 24px;
  text-align: center;
  padding-top: 50px;
    color: var(--text-color);

}
.website-border2{

}
.social{
  display: flex;
  font-size: 20px;
  margin-left: 40%;
  margin-top: 50px;
  color: #fff;
}
.social li{
  margin-left: 30px;
}
.social li i{
  color: var(--text-color);
}